<input type="number" id="input"[(ngModel)]='firstnumber'>
<br>
<input type="number" id="input-1" [(ngModel)]='secondnumber'>

<button (click)="addition()">addition</button>
<h1>{{ sum }}</h1>

<input type="number" id="put" [(ngModel)]='subinput1'>
<br>
<input type="number" id="put-1" [(ngModel)]='subinput2'>
<button (click)="subtraction()">subtraction</button>
<h1>{{ sub }}</h1>

<input type="number" id="put-2" [(ngModel)]=' mulinput1'>
<br>
<input type="number" id="put-3" [(ngModel)]=' mulinput2'>
<button (click)="multiplication()">multiplication</button>
<h1>{{ mul }}</h1>

<input type="number" id="put-4" [(ngModel)]='divinput1'>
<br>
<input type="number" id="put-5" [(ngModel)]='divinput2'>
<button (click)=" division()"> division</button>
<h1>{{ div }}</h1>